@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.search-city {
  max-width: 100%;
  /* margin: auto; */
  margin-left: 28%;
  margin-top: 10%;
}
.search {
  padding: 17px;
  font-size: 20px;
  width: 50%;
  border: 1px solid #51a8f0;
  float: left;
  background: linear-gradient(#ffffff, #eff2f3);
  background: -moz-linear-gradient(#ffffff, #eff2f3);
  background: -webkit-linear-gradient(#ffffff, #eff2f3);
  border-radius: 30px 0 0 30px;
  margin-top: 5%;
  display: block;
}

/* .search:hover {
  border: 1px solid blue;
} */

button {
  float: left;
  padding: 17px;
  background: linear-gradient(#d5e9f5, #51a8f0);
  background: -moz-linear-gradient(#d5e9f5, #51a8f0);
  background: -webkit-linear-gradient(#d5e9f5, #51a8f0);
  color: rgb(8, 1, 43);
  font-size: 20px;
  /* text-align: center; */
  /* align-content: center; */
  border: 1px solid #51a8f0;
  cursor: pointer;
  border-radius: 0 30px 30px 0;
  margin-top: 5%;
  padding-left: 14px;
}

button:hover {
  background: linear-gradient(#eb7e7e, #a70535);
  background: -moz-linear-gradient(#eb7e7e, #a70535);
  background: -webkit-linear-gradient(#eb7e7e, #a70535);
}
.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.show-weather {
  display: flex;
  flex-direction: row;
  align-content: space-around;
}
.show-temp {
  flex: 1;
  margin-top: 4%;
  padding: 33px 27px 26px 18px;
  font-size: 50px;
}
.show-img {
  flex: 2;
  margin-left: 10%;
}
.show-sun {
  align-content: center;
  font-size: 50px;
  font-weight: 500s;
  margin-top: 2%;
}

.alert {
  padding: 20px;
  background-color: #ffaa2c;
  color: white;
  text-align: center;
  font-size: 15px;
}

.closebutton {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.timezone {
  margin-top: 5%;
  font-size: 35px;
}
.container-show {
  display: flex;
  flex-direction: column;
  align-items: center;
}
